.font-styles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: orange;
  text-align: center;
  line-height: 2;
  letter-spacing: 4px;
  word-spacing: 20px;
}

.box-model {
  border: 1px solid red;
  height: 50px;
  width: 300px;
  padding: 20px;
  margin: 20px;
}

h2 {
  color: red;
}

h2 {
  color: blue;
}

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

table {
  border-collapse: collapse;
  width: 50%;
}

td {
  text-align: center;
}
